*{
    font-size: 16px;
}
.center {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    border-right:1px solid #bbb;
}

.affix {
    top: 1pt;
    left: 1pt;
    width: 100%;
    opacity: 0.85;
}


li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.panel-body span {
    float: right;
    background-color: lightgray;
}
li a:hover:not(.active) {
    background-color: #1a1a1a;
    color: #bbbbbb;
    text-decoration: none;
}

.active{
    background-color: #4CAF50;
}
.footer{
    position: fixed;
    left:1pt;
    bottom:1pt;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
}

.nav-tabs{

    float:left;
    color:white;
}

.form1{

    align:right;
}

.total_form{

    background-color:lightgray;
}

.panel-heading{
    background-color:lightgrey;
    border-color:transparent;
}

.t1{
    cellpadding:2px;
    width: 80%;
    background-color:lightgrey;
    position: relative;
    top: 1%;
    left: 25%;
    cellspacing: 2px;

}

.form1{

    position: relative;
}

 .f1{
     border:3px solid #f1f1f1;
 }

.i1 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.b1 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn-default {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.container {
    padding: 16px;
    position: relative;
    background-color: #f7f7f7;
}

#d1{
    background-color: darkgrey;
}


span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}